<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/WEB-INF/templates/layout.xhtml">
    
    <ui:define name="content">
    	<!-- JAVASCRIPT - All includes for ACE -->
    	<script type="text/javascript" src="/dsc/web/webres/ace/src/ace.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/ace/src/mode-text.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/ace/src/theme-eclipse.js"></script>
    	
    	<!-- JAVASCRIPT - All includes for MIDDICUS -->
    	<script type="text/javascript" src="edit.js"></script>
    	 
    	<div id="tabSearch">
	    	<h1>Templates</h1>
	    	<p>Templates are used to build files on a target Agent's system using data contained in the Data Library.</p>
	    	
	    	<p>
	    		Search Filter:<input id="searchFilter" name="searchFilter" type="text" style="width: 400px; margin: 0px 8px;"/>
	    		<span id="searchButton" class="btn" style="margin-right: 8px;">Search</span>
	    		<span id="showAllButton" class="btn" style="margin-right: 8px;">Show All</span>
	    		<span id="createButton" class="btn">Create Template</span>
	    	</p>
	    	
	    	<div id="templateListDiv">
	    		<table id="templateList" class="dsctable">
	    		</table>
	    	</div>
	    </div>
	    
	    <div id="tabEdit">
	    	<h1>Data Editor</h1>
	    	<p>Template Name: <input id="templateName" name="templateName" type="text" style="width: 70%"/></p>
	    	<p>
	    		<span id="editorSaveButton" class="btn" style="margin-right: 8px;">Save Changes</span>
	    		<span id="editorSaveCloseButton" class="btn" style="margin-right: 8px;">Save Changes and Close</span>
	    		<span id="editorDiscardButton" class="btn">Discard Changes</span>
	    	</p>
	    	<div id="editor"></div>
	    </div>
	    
	    <div id="newTemplateDialog">
	    	<p>Enter the name for the new template:</p>
	    	<p><input id="newTemplateName" name="newTemplateName" type="text" style="width: 100%;"/></p>
	    	<div>
	    		<span id="newTemplateSaveButton" class="btn">Save</span>
	    		<span id="newTemplateCancelButton" class="btn">Cancel</span>
	    	</div>
	    </div>
    </ui:define>
</ui:composition>