<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/WEB-INF/templates/layout.xhtml">
    
    <ui:define name="content">
    	<h1>Initiate File Transfer</h1>
    	
    	<table id="transferForm" class="formTable" style="width:70%; white-space: nowrap;">
    		<tr>
    			<td>Source Path:</td>
    			<td style="width:100%;"><input id="sourcePath" data-prop="sourcePath" type="text" style="width:100%;"/></td>
    		</tr>
    		<tr>
    			<td>Destination Agent:</td>
    			<td style="width:100%;"><input id="agent" data-prop="agent" type="text" style="width:100%;"/></td>
    		</tr>
    		<tr>
    			<td>Target Path:</td>
    			<td style="width:100%;"><input id="targetPath" data-prop="targetPath" type="text" style="width:100%;"/></td>
    		</tr>
    	</table>
    	
    	<div id="initiateTransferButton" class="btn">Initiate Transfer</div>
    	
    	
    	<script type="text/javascript">
			var transferForm = null;
			
			var initiateTransferButtonClick = function(event) {
				var transferInfo = transferForm.getObj();
				TransferService.transferToAgent({
					agent: transferInfo.agent,
					sourcePath: transferInfo.sourcePath,
					targetPath: transferInfo.targetPath,
				});
			};
    	
    		$(document).ready(function() {
        		$('.btn').button();
        		$('#initiateTransferButton').click(initiateTransferButtonClick);

        		transferForm = new Form($('#transferForm'));
        	});

    	</script>
    </ui:define>
</ui:composition>