<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/WEB-INF/templates/layout.xhtml">
    
    <ui:define name="content">
    	<style type="text/css">
    		.selected {
    			background-color: #ddffdd;
    		}
    		
    		#editForm {
    			padding: 12px 8px 12px 8px;
    			background-color: #eeeeee;
    		}
    		
    		#editForm td.lbl2 {
    			padding-left: 12px;
    		}
    	</style>
    
    	<!-- JAVASCRIPT - All includes for SlickGrid -->
    	<script type="text/javascript" src="/dsc/web/webres/slick/lib/jquery.event.drag-2.0.min.js"></script>
    	
    	<script type="text/javascript" src="/dsc/web/webres/slick/slick.core.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/slick/slick.formatters.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/slick/slick.editors.js"></script>
    	
    	<script type="text/javascript" src="/dsc/web/webres/slick/plugins/slick.rowselectionmodel.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/slick/plugins/slick.cellselectionmodel.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/slick/plugins/slick.cellrangedecorator.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/slick/plugins/slick.cellrangeselector.js"></script>
    	
    	<script type="text/javascript" src="/dsc/web/webres/slick/slick.grid.js"></script>
    	
    	<!-- JAVASCRIPT - All includes for ACE -->
    	<script type="text/javascript" src="/dsc/web/webres/ace/src/ace.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/ace/src/mode-json.js"></script>
    	<script type="text/javascript" src="/dsc/web/webres/ace/src/theme-eclipse.js"></script>
    	
    	<!-- JAVASCRIPT - All includes for MIDDICUS -->
    	<script type="text/javascript" src="edit.js"></script>
    
    	<div id="tabSearch">
	    	<h1>Data Library</h1>
	    	<p>The data library is a key-value store that can be accessed from any Task Definition or Template.</p>
	    	<p>Keys can have multiple values, just add multiple records with the same key name. Values can be Strings or JSON.
	    	If you specify a JSON Defaults key, the JSON from the key you are creating will be joined with the JSON from the
	    	defaults key you specify.</p>
	    	
	    	<p>
	    		Search Filter:<input id="searchFilter" name="searchFilter" type="text" style="width: 400px; margin: 0px 8px;"/>
	    		<span id="searchButton" class="btn" style="margin-right: 8px;">Search</span><span id="showAllButton" class="btn">Show All</span>
	    	</p>
	    	
	    	<div id="dataGrid" style="width:1px;height:1px;">
	    	</div>
	    	
	    	<div id="editForm">
		    	<table id="editFormTable" class="formTable" style="width:100%; white-space: nowrap;">
		    		<tr>
		    			<td colspan="4">
		    				<div id="tbNewButton" class="btn"><img src="/dsc/web/webres/img/new-24.png"/></div>
		    				<div id="tbSaveButton" class="btn"><img src="/dsc/web/webres/img/save-24.png"/></div>
		    				<div id="tbAddButton" class="btn"><img src="/dsc/web/webres/img/add-24.png"/></div>
		    				<div id="tbCopyButton" class="btn"><img src="/dsc/web/webres/img/copy-24.png"/></div>
		    				<div id="tbDeleteButton" class="btn"><img src="/dsc/web/webres/img/delete-24.png"/></div>
		    				<div id="tbEditButton" class="btn"><img src="/dsc/web/webres/img/edit-24.png"/></div>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>Key:</td>
		    			<td width="50%"><input id="editKey" data-prop="key" type="text" style="width:100%;"/></td>
		    			<td class="lbl2">JSON Defaults Key:</td>
		    			<td width="50%"><input id="editJSONDefaultsKey" data-prop="jsonDefaultsKey" type="text" style="width:100%"/></td>
		    		</tr>
		    		<tr>
		    			<td>Classifier:</td>
		    			<td width="50%"><input id="editClassifier" data-prop="classifier" type="text" style="width:100%;"/></td>
		    			<td class="lbl2">Value Type:</td>
		    			<td width="50%">
		    				<select id="editValueType" data-prop="valueTypeInt" data-default="1" style="width:100%">
		    					<option value="1">String</option>
		    					<option value="2">JSON</option>
		    				</select>
		    			</td>
		    		</tr>
		    	</table>
	    	</div>
	    </div>
	    <div id="valueEditDialog">
	    	<p>Value for <span id="valueEditKey">KEY</span></p>
	    	<p><input id="newValue" type="text" style="width:100%"/></p>
	    	<div>
	    		<div id="valueEditSaveButton" class="btn">Save</div>
	    		<div id="valueEditCancelButton" class="btn">Cancel</div>
	    	</div>
	    </div>
	    <div id="tabEdit">
	    	<h1>Data Editor</h1>
	    	<p>
	    		<span id="editorSaveButton" class="btn" style="margin-right: 8px;">Save Changes</span>
	    		<span id="editorDiscardButton" class="btn">Discard Changes</span>
	    	</p>
	    	<div id="editor"></div>
	    </div>
    </ui:define>
</ui:composition>