@CHARSET "UTF-8";

span.itemName {
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
}

img.itemIcon {
	vertical-align: middle;
}

div.folderItem {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	padding: 4px 6px;
	margin: 4px 8px;
}

div.folderItem:hover {
	outline: 1px solid #AABBCC;
	background-color: #EEF9FF;
}

div.agentItem {
	cursor: move;
	display: inline-block;
	padding: 4px 6px;
	margin: 4px 8px;
}

div.agentItem:hover {
	outline: 1px solid #AABBCC;
	background-color: #EEF9FF;
}

#folderToolbar {
	display: block;
	margin: 8px 0px 6px 0px;
	padding: 0px;
}

#folderChain {
	display: inline-block;
	vertical-align: middle;
}

div.folderIconSelector {
	display: block;
}

img.folderIconOption {
	display: inline-block;
	float: left;
	padding: 4px;
	margin: 0px 3px;
}

img.iconSelected {
	outline: 1px dotted black;
}

div.agentList {
	display: block;
	width: 100%;
	min-height: 150px;
}

span.classifier {
	display: inline-block;
	padding: 3px 6px;
	margin: 3px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #BBBBBB;
	font-size: 0.8em;
	font-family: "DoppioOne", sans-serif;
}

span.classifierDelete:hover {
	cursor: crosshair;
	background-color: #FF8888;
}

#newClassifierForm {
	margin-bottom: 8px;
}