@CHARSET "UTF-8";

table.dsctable {
	border-collapse: collapse;
}

table.dsctable td {
	border: 1px solid black;
	padding: 4px 6px 4px 6px;
}

table.dsctable thead tr {
	background-color: #DDFFDD;
	font-weight: bold;
}

table.formTable {
	border-collapse: collapse;
}

table.formTable td {
	padding: 4px 6px;
}

table.listTable {
	border-collapse: collapse;
	border: 1px solid #888888;
}

table.listTable tr {
	background-color: #FFFFFF;
	border: none;
}

table.listTable tr:hover {
	background-color: #DDFFDD;
}

table.listTable td {
	padding: 6px 8px;
	border: none;
}