<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Distributed Systems Controller</title>
	
	<h:outputStylesheet library="css" name="middicus-style-201208282306.css" />
	
	<script type="text/javascript">
		var showSubSection = function(event) {
			var id = event.currentTarget.id + 'Sub';
			$('#' + id).toggle(300);
		};
		
		$(document).ready(function() {
			$('div.subSection').hide();
			$('div.section').click(showSubSection);
		});
	</script>
</h:head> 
<h:body>
	<div id="header">
		<h:graphicImage library="image" name="headerlogo.png" style="margin-left:24px;" />
	</div>
	
	<div id="fullpage">
		<div id="content"><ui:insert name="content"/></div>
		
		<div id="leftbar">
			<h:link outcome="/agents/list">
				<div class="section" id="menu-agents">
					<h:graphicImage library="icon32" name="agents.png" /><span>Agents</span>
				</div>
			</h:link>
			
			<h:link outcome="/agents/folders">
				<div class="section" id="menu-classifiers">
					<h:graphicImage library="icon32" name="folders.png" /><span>Folders</span>
				</div>
			</h:link>
			
			
			<h:link outcome="/data/edit">
				<div class="section" id="menu-data">
					<h:graphicImage library="icon32" name="data.png" /><span>Data</span>
				</div>
			</h:link>
			
			<h:link outcome="/templates/edit">
				<div class="section" id="menu-templates">
					<h:graphicImage library="icon32" name="templates.png" /><span>Templates</span>
				</div>
			</h:link>
			
			<h:link outcome="/index">
				<div class="section" id="menu-taskdefs">
					<h:graphicImage library="icon32" name="taskdefs.png" /><span>Task Definitions</span>
				</div>
			</h:link>
			
			<h:link outcome="/index">
				<div class="section" id="menu-exectask">
					<h:graphicImage library="icon32" name="exectask.png" /><span>Execute Tasks</span>
				</div>
			</h:link>
			
			<h:link outcome="/transfers/index">
				<div class="section" id="menu-transfers">	
					<h:graphicImage library="icon32" name="transfers.png" /><span>File Transfers</span>
				</div>
			</h:link>
		</div>
	</div>
</h:body> 
</html>
