<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Distributed Systems Controller</title>
	
	<link rel="stylesheet" type="text/css" href="/dsc/web/webres/slick/slick.grid.css"/>
	<h:outputStylesheet library="css" name="dscstyle.css" />
	<link rel="stylesheet" type="text/css" href="/dsc/web/webres/css/dsctable.css"/>
	<link rel="stylesheet" type="text/css" href="/dsc/web/webres/css/dscfolders.css"/>
	
	<script type="text/javascript" src="/dsc/web/webres/js/config.js"></script>
	<script type="text/javascript" src="/dsc/web/rest.js"></script>
	<script type="text/javascript" src="/dsc/web/webres/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/dsc/web/webres/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript" src="/dsc/web/webres/js/RenderedCollection.js"></script>
	<script type="text/javascript" src="/dsc/web/webres/js/Form.js"></script>
	
	
	<script type="text/javascript">
		/*var leftbarShow = function(event) {
			$('#leftbar').stop().animate({"left" : "0"});
		};

		var leftbarHide = function(event) {
			$('#leftbar').stop().animate({"left" : "-218"});
		};*/ // Let's pretend i didn't do this
	
		var showSubSection = function(event) {
			var id = event.currentTarget.id + 'Sub';
			$('#' + id).toggle(300);
		};
		
		$(document).ready(function() {
			$('div.subSection').hide();
			$('div.section').click(showSubSection);

			/* $('#leftbar').mouseenter(leftbarShow);
			$('#leftbar').mouseleave(leftbarHide); */
		});
	</script>
</h:head> 
<h:body>
	<div id="header">
		<img id="headerlogo" src="/dsc/web/webres/img/headerlogo.png" style="margin-left:24px;"/>
	</div>
	
	<div id="fullpage">
		<div id="content"><ui:insert name="content"/></div>
		
		<div id="leftbar">
			<h:link outcome="/agents/list">
				<div class="section" id="menu-agents">
					<img src="/dsc/web/webres/img/agents-32.png"/><span>Agents</span>
				</div>
			</h:link>
			
			<h:link outcome="/agents/folders">
				<div class="section" id="menu-classifiers">
					<img src="/dsc/web/webres/img/folders-32.png"/><span>Folders</span>
				</div>
			</h:link>
			
			
			<h:link outcome="/data/edit">
				<div class="section" id="menu-data">
					<img src="/dsc/web/webres/img/data-32.png"/><span>Data</span>
				</div>
			</h:link>
			
			<h:link outcome="/templates/edit">
				<div class="section" id="menu-templates">
					<img src="/dsc/web/webres/img/templates-32.png"/><span>Templates</span>
				</div>
			</h:link>
			
			<h:link outcome="/index">
				<div class="section" id="menu-taskdefs">
					<img src="/dsc/web/webres/img/taskdefs-32.png"/><span>Task Definitions</span>
				</div>
			</h:link>
			
			<h:link outcome="/index">
				<div class="section" id="menu-exectask">
					<img src="/dsc/web/webres/img/exectask-32.png"/><span>Execute Tasks</span>
				</div>
			</h:link>
			
			<h:link outcome="/transfers/index">
				<div class="section" id="menu-transfers">	
					<img src="/dsc/web/webres/img/transfers-32.png"/><span>File Transfers</span>
				</div>
			</h:link>
		</div>
	</div>
</h:body> 
</html>
