@CHARSET "UTF-8";

/* ---- FONTS ---- */

@font-face {
	font-family: "Comfortaa";
	src: url("#{resource['font:Comfortaa-Regular.ttf']}") format("truetype");
}

@font-face {
	font-family: "Comfortaa-Bold";
	src: url("#{resource['font:Comfortaa-Bold.ttf']}") format("truetype");
}

@font-face {
	font-family: "DoppioOne";
	src: url("#{resource['font:DoppioOne-Regular.ttf']}") format("truetype");
}

@font-face {
	font-family: "Oxygen";
	src: url("#{resource['font:Oxygen-Regular.ttf']}") format("truetype");
}

/* ---- LAYOUT ---- */

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 16px;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 42px;
	background-image: url("#{resource['image:headbg.png']}");
	padding: 29px 0px 29px 0px;
	border-bottom: 1px solid black;
	z-index: 10;
}

#header h1 {
	font-size: 2.5em;
	font-weight: normal;
	font-family: "Comfortaa", sans-serif;
	display: inline;
}

#leftbar {
	position: fixed;
	top: 101px;
	left: 0px;
	z-index: 10;
	
	width: 239px;
	height: 100%;
	
	background: #cccccc;
	border-right: 1px solid #AAAAAA;
}

#leftbar div.section {
	cursor: pointer;
	color: black;
	display: block;
	padding: 8px 0px 8px 8px;
}

#leftbar div.section:hover {
	background-color: #EEEEEE;
}

#leftbar div.section img {
	margin-right: 8px;
	vertical-align: middle;
}

#leftbar div.section span {
	font-family: "Oxygen", sans-serif;
	font-size: 1.0em;
	display: inline-block;
	vertical-align: middle;
}

#leftbar div.section a {
	text-decoration: none;
	color: black;
}

#leftbar div.subSection {
	border-bottom: 1px dotted black;
}

#leftbar div.subSection a {
	font-style: normal;
	text-decoration: none;
	color: black;
}

#leftbar div.subSection span {
	cursor: pointer;
	font-family: "Oxygen", sans-serif;
	font-size: 0.9em;
	display: block;
	padding: 4px 0px 4px 72px;
}

#leftbar div.subSection span:hover {
	background-color: #FFFFDD;
}

#content {
	font-family: "Oxygen", sans-serif;
	font-size: 1.0em;
	padding: 101px 16px 0px 256px;
}

#content h1 {
	padding: 6px 6px 6px 6px;
	margin: 8px 0px 12px 0px;
	font-family: "Comfortaa-Bold", sans-serif;
	font-size: 1.4em;
	font-weight: normal;
}

#content h2 {
	border-bottom: 1px dotted black;
	padding: 6px 6px 6px 6px;
	margin: 20px 0px 12px 0px;
	font-family: "Comfortaa-Bold", sans-serif;
	font-size: 1.1em;
	font-weight: normal;
}

#content h3 {
	border-bottom: 1px dotted black;
	padding: 14px 6px 14px 6px;
	margin: 0px;
	font-family: "Comfortaa-Bold", sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	background-color: #c0ffcd;
}

/* ---- TWEAKS ---- */

span.ui-tree-node-label {
	margin-top: 1px !important;
}

/* ---- COMMMON ---- */

.middleBlock {
	display: inline-block !important;
	vertical-align: middle !important;
}

.panelMargin {
	margin: 8px 0px;
}

.boxWidth100 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}

div.rightButtonPanel {
	margin: 16px 0px 8px 0px;
	text-align: right;
}

table.gridPanelTable {
	width: 100%;
}

table.gridPanelTable, table.gridPanelTable tbody tr, table.gridPanelTable tbody tr td {
	border: none;	
}

table.gridPanelTable tbody tr td {
	padding: 2px 4px;
}

table.gridPanelTable tbody tr td.gridPanelLabel {
	padding-right: 12px;
}

table.gridPanelTable tbody tr td.gridPanelMessage {
	min-width: 33%;
}

/* ---- ICONS ---- */

.m-button-icon-24 span.ui-button-text {
	padding: 0.5em 1em 0.5em 2.5em !important;
}

.m-icon-24-add {
	background-image: url("#{resource['icon24:add.png']}") !important;
	width: 24px !important;
	height: 24px !important;
	margin-top: -12px !important;
}

.m-icon-24-copy {
	background-image: url("#{resource['icon24:copy.png']}") !important;
	width: 24px !important;
	height: 24px !important;
	margin-top: -12px !important;
}

.m-icon-24-delete {
	background-image: url("#{resource['icon24:delete.png']}") !important;
	width: 24px !important;
	height: 24px !important;
	margin-top: -12px !important;
}

.m-icon-24-edit {
	background-image: url("#{resource['icon24:edit.png']}") !important;
	width: 24px !important;
	height: 24px !important;
	margin-top: -12px !important;
}

.m-icon-24-new {
	background-image: url("#{resource['icon24:new.png']}") !important;
	width: 24px !important;
	height: 24px !important;
	margin-top: -12px !important;
}

.m-icon-24-save {
	background-image: url("#{resource['icon24:save.png']}") !important;
	width: 24px !important;
	height: 24px !important;
	margin-top: -12px !important;
}

.m-icon-24-saveas {
	background-image: url("#{resource['icon24:saveas.png']}") !important;
	width: 24px !important;
	height: 24px !important;
	margin-top: -12px !important;
}

/* ---- AGENT FOLDERS ---- */

div.agentListDataGrid {
	padding-top: 6px;
}

div.agentListDataGrid > div {
	border: none !important;
	background: none !important;
}

div.agentListDataGrid div table {
	border: none !important;
}

div.agentListDataGrid div table tbody tr td {
	border: none !important;
}

div.agentItemPanel {
	padding: 0px;
	margin: 0px 8px 6px 8px;
}

div.agentItemPanel > .ui-widget-content {
	padding: 4px 8px;
}

div.agentItemPanel {
	border: 1px solid #AAAAAA;
	background-color: white;
	padding: 8px;
}

div.agentItemPanel:hover {
	cursor: move;
	background: #FBF9EE;
	border: 1px solid #FCEFA1;
	color: #363636;
}

#agentFolderTable tbody tr td {
	height: 100%;
	vertical-align: top;
	overflow: visible;
}

.folderIcon-datacenter {
	background-image: url("#{resource['foldericon:datacenter-16.png']}") !important;
	margin-top: 3px;
}

.folderIcon-network {
	background-image: url("#{resource['foldericon:network-16.png']}") !important;
	margin-top: 3px;
}

.folderIcon-folder {
	background-image: url("#{resource['foldericon:folder-16.png']}") !important;
	margin-top: 3px;
}

div.classifierToken {
	display: inline-block;
	margin: 0px;
	padding: 2px 6px;
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
}

input.classifierInput {
	border: none !important;
	padding: 0px !important;
	margin: 0px 0px 0px 8px !important;
	background: none !important;
	box-shadow: none !important;
}