<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:s="http://jboss.org/seam/faces"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/layout-prime.xhtml">
    
    <ui:define name="content">
    
    	<h1 class="ui-widget-header">Agent Folders</h1>
    	<p>Organize agents into folders in order to apply classifications in a hierarchical manner.
    	Classifications applied to a folder will apply to all agents within that folder or within
    	any of that folder's child folders.</p>
    	
    	<p:dialog widgetVar="addFolderDialog" header="Add Folder" modal="true" closable="false" width="600">
    		<h:form id="addFolderForm" prependId="false">
    			<table class="gridPanelTable">
    				<tbody>
    					<tr>
		    				<td class="gridPanelLabel">
		    					<h:outputText value="Parent Folder:" />
		    				</td>
		    				<td>
			    				<p:outputPanel layout="block" styleClass="ui-widget-content ui-corner-all ui-state-default">
			    					<div style="padding: 4px 8px;">
				    					<h:graphicImage library="foldericon" name="#{folders.selectedFolderNode.folder.icon}" styleClass="middleBlock" />
				    					<span class="middleBlock"><h:outputText value="#{folders.selectedFolderNode.folder.name}" /></span>
				    				</div>
			    				</p:outputPanel>
			    			</td>
		    			</tr>
		    			<tr>
		    				<td class="gridPanelLabel">
		    					<p:outputLabel for="addFolderName" value="Folder Name:" />
		    				</td>
		    				<td>
		    					<p:inputText id="addFolderName" value="#{folders.newFolder.name}" styleClass="boxWidth100" />
		    				</td>
		    				<td class="gridPanelMessage">
		    					<p:message for="addFolderName" />
		    				</td>
		    			</tr>
		    			<tr>
		    				<td class="gridPanelLabel">
		    					<p:outputLabel for="addFolderIcon" value="Icon:" />
		    				</td>
		    				<td>
			    				<p:selectOneMenu id="addFolderIcon" value="#{folders.newFolderIcon}"
			    					converter="FolderIconOptionConverter" var="i" styleClass="boxWidth100" style="min-width:200px;width:100%;">
			    					<f:selectItems value="#{folders.folderIconOptions}" var="icon" itemValue="#{icon}" itemLabel="#{icon.name}" />
			    					
			    					<p:column>
			    						<h:graphicImage library="foldericon" name="#{i.icon}" />
			    					</p:column>
			    					
			    					<p:column>
			    						<h:outputText value="#{i.name}" />
			    					</p:column>
			    				</p:selectOneMenu>
			    			</td>
			    			<td class="gridPanelMessage">
	    						<p:message for="addFolderIcon" />
	    					</td>
	    				</tr>
    				</tbody>
    			</table>
    			
    			<div class="rightButtonPanel">
    				<p:commandButton id="doAddFolderButton" value="Add" action="#{folders.createFolder}" style="margin-right:8px;"
    					process="@form" update="@form :agentFolderForm:agentFolderTree" oncomplete="if (!args.validationFailed) { addFolderDialog.hide(); }" />
    				<p:commandButton id="cancelAddFolderButton" value="Cancel" type="button" onclick="addFolderDialog.hide()" />
    			</div>
	    	</h:form>
	    </p:dialog>
	    
	    <p:dialog widgetVar="deleteFolderDialog" header="Delete Folder" modal="true" closable="false" width="500">
	    	<h:form id="deleteFolderForm">
	    		<div>
	    			<p:outputPanel layout="block" style="display:inline-block;" styleClass="ui-widget-content ui-corner-all ui-state-default">
    					<div style="padding: 4px 8px;">
	    					<h:graphicImage library="foldericon" name="#{folders.selectedFolderNode.folder.icon}" styleClass="middleBlock" />
	    					<span class="middleBlock"><h:outputText value="#{folders.selectedFolderNode.folder.name}" /></span>
	    				</div>
    				</p:outputPanel>
	    		</div>
	    		<p>Deleting this folder will re-assign any agents it contains to "Uncategorized". This will also
	    		delete any child folders of this folder. Continue?</p>
	    		
	    		<div class="rightButtonPanel">
	    			<p:commandButton id="doDeleteFolderButton" value="Delete" action="#{folders.deleteSelectedFolder}"
	    				oncomplete="deleteFolderDialog.hide()" update="@form :agentFolderForm" style="margin-right:8px;" />
		    		<p:commandButton id="cancelDeleteFolderButton" value="Cancel" type="button" onclick="deleteFolderDialog.hide()" />
	    		</div>
	    	</h:form>
	    </p:dialog>
	    
	    <p:dialog widgetVar="renameFolderDialog" header="Rename Folder" modal="true" closable="false" width="600">
	    	<h:form id="renameFolderForm">
	    		<table class="gridPanelTable">
	    			<tbody>
	    				<tr>
	    					<td class="gridPanelLabel"><p:outputLabel for="renameFolderName" value="New Name:" /></td>
	    					<td>
	    						<p:inputText id="renameFolderName" value="#{folders.renameFolderName}" styleClass="boxWidth100" />
	    					</td>
	    					<td><p:message for="renameFolderName" /></td>
	    				</tr>
	    			</tbody>
	    		</table>
	    		
	    		<div class="rightButtonPanel">
	    			<p:commandButton id="doRenameFolderButton" value="Rename" action="#{folders.renameSelectedFolder}"
	    				oncomplete="if (!args.validationFailed) { renameFolderDialog.hide(); }" update="@form :agentFolderForm"
	    				style="margin-right:8px;" />
		    		<p:commandButton id="cancelRenameFolderButton" value="Cancel" type="button" onclick="renameFolderDialog.hide()" />
	    		</div>
	    	</h:form>
	    </p:dialog>
	    
	    <h:form id="folderClassifiersForm">
    		<table>
    			<tbody>
    				<tr>
    					<td style="padding-right:8px;">Classifiers:</td>
    					<td style="width:100%;">
    						<div class="ui-widget ui-inputtext ui-inputfield ui-state-default ui-corner-all boxWidth100">
    							<ui:repeat var="classifier" value="#{folders.selectedFolderClassifiers}">
    								<div class="classifierToken ui-corner-all">
    									<div class="middleBlock"><h:outputText value="#{classifier.classifier}" /></div>
    									<p:commandLink action="#{folders.deleteClassifier}" update="@form">
    										<f:setPropertyActionListener target="#{folders.deleteClassifierId}" value="#{classifier.id}" />
    										<div class="ui-icon ui-icon-close middleBlock"></div>
    									</p:commandLink>
    								</div>
    							</ui:repeat>
    							<p:inputText id="newClassifier" value="#{folders.newClassifier}" styleClass="classifierInput" />
    							<p:commandButton id="addClassifierButton" value="Add Classifier" action="#{folders.addClassifier}" style="display:none;"
    								update="@form" />
    						</div>
    					</td>
    				</tr>
    			</tbody>
    		</table>
	    </h:form>
    	
    	<h:form id="agentFolderForm" prependId="false">
    		<p:toolbar id="foldersToolbar">
    			<p:toolbarGroup align="left">
    				<p:commandButton type="button" value="Add" onclick="addFolderDialog.show()"
        				icon="m-icon-24-add" styleClass="m-button-icon-24" />
    				<p:commandButton type="button" value="Rename" onclick="renameFolderDialog.show()"
    					icon="m-icon-24-edit" styleClass="m-button-icon-24" />
    				<p:commandButton type="button" value="Delete" onclick="deleteFolderDialog.show()"
    					icon="m-icon-24-delete" styleClass="m-button-icon-24" />
    			</p:toolbarGroup>
    		</p:toolbar>
    		
    		<div class="ui-widget ui-datatable">
	    		<table id="agentFolderTable" style="height:100%;">
	    			<thead>
	    				<tr>
	    					<th class="ui-state-default">
	    						<div class="ui-dt-c">
	    							<span>Agent Folders</span>
	    						</div>
	    					</th>
	    					<th class="ui-state-default">
	    						<div class="ui-dt-c">
	    							<span>Agents In Selected Folder</span>
	    						</div>
	    					</th>
	    					<th class="ui-state-default">
	    						<div class="ui-dt-c">
	    							<span>Uncategorized Agents</span>
	    						</div>
	    					</th>
	    				</tr>
	    			</thead>
	    			<tbody class="ui-datatable-data ui-widget-content">
	    				<tr class="ui-widget-content ui-datatable-even" style="height:100%">
	    					<td style="width:40%;">
	    						<div class="ui-dt-c">
							    	<p:tree id="agentFolderTree" value="#{folders.agentFolderTree}" var="folder"
							    		selectionMode="single" selection="#{folders.selectedFolderNode}"
							    		style="border:none;">
							    		
							    		<p:ajax event="select" listener="#{folders.onFolderSelection}"
							    			update=":agentFolderForm:currentFolderAgentsList :addFolderForm :deleteFolderForm :folderClassifiersForm" />
							    		<p:ajax event="expand" listener="#{folders.onFolderExpand}" />
							    		<p:ajax event="collapse" listener="#{folders.onFolderCollapse}" />
							    		
							    		<p:treeNode type="datacenter.png" icon="folderIcon-datacenter">
							    			<h:outputText value="#{folder.name}" />
							    		</p:treeNode>
							    		<p:treeNode type="network.png" icon="folderIcon-network">
							    			<h:outputText value="#{folder.name}" />
							    		</p:treeNode>
							    		<p:treeNode type="folder.png" icon="folderIcon-folder">
							    			<h:outputText value="#{folder.name}" />
							    		</p:treeNode>
							    	</p:tree>
							    </div>
						    </td>
						    <td style="width:30%;">
						    	<p:outputPanel id="currentFolderAgentsListPanel" layout="block" style="height:100%;">
						    		<p:dataGrid id="currentFolderAgentsList" value="#{folders.selectedFolderAgents}" var="agent"
						    			columns="1" styleClass="agentListDataGrid">
						    			<p:column>
							    			<p:panel id="agentItemPanel" layout="block" styleClass="agentItemPanel">
								    			<h:graphicImage library="icon32" name="agents.png" styleClass="middleBlock" />
							    				<span class="middleBlock"><h:outputText value="#{agent.agentName}" /></span>
						    				</p:panel>
						    				
						    				<p:draggable for="agentItemPanel" scope="fromFolder" revert="true" zindex="20" />
					    				</p:column>
						    		</p:dataGrid>
					    		</p:outputPanel>
					    		
					    		<p:droppable for="currentFolderAgentsListPanel" scope="toFolder" datasource="rootFolderAgentsList" 
						    		tolerance="intersect" hoverStyleClass="ui-state-hover ui-state-highlight">
					    			<p:ajax listener="#{folders.onFolderDrop}"
					    				update=":agentFolderForm:currentFolderAgentsList :agentFolderForm:rootFolderAgentsList" />
					    		</p:droppable>
						    </td>
						    <td style="width:30%;">
						    	<p:outputPanel id="rootFolderAgentsListPanel" layout="block" style="height:100%;">
						    		<p:dataGrid id="rootFolderAgentsList" value="#{folders.rootFolderAgents}" var="rootAgent"
						    			columns="1" styleClass="agentListDataGrid">
						    			
						    			<p:column>
							    			<p:panel id="rootAgentItemPanel" layout="block" styleClass="agentItemPanel">
								    			<h:graphicImage library="icon32" name="agents.png" styleClass="middleBlock" />
							    				<span class="middleBlock"><h:outputText value="#{rootAgent.agentName}" /></span>
						    				</p:panel>
						    			</p:column>
					    				
					    				<p:draggable for="rootAgentItemPanel" scope="toFolder" revert="true" zindex="20" />
						    		</p:dataGrid>
						    	</p:outputPanel>
						    	
						    	<p:droppable for="rootFolderAgentsListPanel" scope="fromFolder" datasource="currentFolderAgentsList" 
						    		tolerance="intersect" hoverStyleClass="ui-state-hover ui-state-highlight">
					    			<p:ajax listener="#{folders.onUncategorizedDrop}"
					    				update=":agentFolderForm:currentFolderAgentsList :agentFolderForm:rootFolderAgentsList" />
					    		</p:droppable>
						    </td>
						</tr>
			    	</tbody>
			    </table>
			</div>
    	</h:form>
    	
    	<p:growl id="globalGrowl" life="4000" globalOnly="true" autoUpdate="true" />
    </ui:define>
</ui:composition>