<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/WEB-INF/templates/layout.xhtml">
    
    <ui:define name="content">
    	<script type="text/javascript" src="folders.js"></script>
    
    	<h1>Agent Folders</h1>
    	<p>Organize agents into folders in order to apply classifications in a hierarchical manner.
    	Classifications applied to a folder will apply to all agents within that folder or within
    	any of that folder's child folders.</p>
    	
    	<div><span class="middleBlock" style="margin-right: 12px;">Selected Folder:</span>
    		<div id="rootFolder" class="folderItem" onClick="selectFolder(-1);">
    			<img class="itemIcon" src="/dsc/web/webres/img/foldericon/top.png"/>
    			<span class="itemName">Root</span>
    		</div>
    		<div id="folderChain"></div>
    	</div>
    	
    	<div id="folderToolbar">
    		<div id="createFolderToolbarButton" class="btn" style="margin-right: 8px;">Create New Folder</div>
   			<div id="renameFolderToolbarButton" class="btn rootSelectedHide" style="margin-right: 8px;">Rename Current Folder</div>
   			<div id="deleteFolderToolbarButton" class="btn rootSelectedHide" style="margin-right: 8px;">Delete Current Folder</div>
    	</div>
    	
    	<div class="dscForm" id="createFolderSection">
    		<h3>Create New Folder</h3>
    		<div class="formContent">
	    		<form id="createFolderForm">
	    			<p>Folder Name: <input id="newFolderName" type="text" style="width:250px;"/>
	    			</p>
	    			<input id="newFolderIcon" type="text" value="folder.png" style="display: none;"/>
	    			
	    			<p>Select an icon for this folder:</p>
	    			<div id="folderIconSelector">
	    				<img class="folderIconOption iconSelected" id="folder.png" src="/dsc/web/webres/img/foldericon/folder.png"/>
	    				<img class="folderIconOption" id="network.png" src="/dsc/web/webres/img/foldericon/network.png"/>
	    				<img class="folderIconOption" id="datacenter.png" src="/dsc/web/webres/img/foldericon/datacenter.png"/>
	    				<div style="clear: both;"></div>
	    			</div>
	    			
	    			<div style="margin-top: 16px">
	    				<span id="createFolderButton" class="btn">Create</span>
	    				<span id="createFolderCancel" class="btn">Cancel</span>
	    			</div>
	    		</form>
	    	</div>
    	</div>
    	
    	<h2>Sub-Folder List</h2>
    	<div id="folderList"></div>
    	
    	<h2 id="folderClassifiersHeader" class="rootSelectedHide">Folder Classifiers</h2>
    	<div id="folderClassifiers" class="rootSelectedHide">
    		<div class="dscForm formContent">
    			<div id="newClassifierForm">
    				Classifier Name: <input id="newClassifierName" type="text" style="width: 250px; margin: 0px 8px;"/>
    				<div id="addClassifierButton" class="btn">Add</div>
    				<input id="deleteClassifierCheckbox" type="checkbox" class="btn" />
    				<label for="deleteClassifierCheckbox">Delete</label>
    			</div>
    			<div id="currentClassifiers">
    			</div>
    		</div>
    	</div>
    	
    	<h2>Agents In This Folder</h2>
    	<div id="folderAgents" class="agentList">
    	</div>
    	
    	<h2 id="rootAgentsHeader" class="rootSelectedHide">Agents In Root Folder</h2>
    	<div id="rootAgents" class="agentList rootSelectedHide">
    	</div>
    	
    	<div id="confirmDeleteDialog" title="Delete Current Folder?" style="display: none;">
    		<p>Are you sure you want to delete the current folder? All folders under it will be deleted,
    		and all agents contained by this folder or its children will be moved back to the root folder.</p>
    		<p>This will very likely change which classifiers apply to the moved agents.</p>
    	</div>
    </ui:define>
</ui:composition>