<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:s="http://jboss.org/seam/faces"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/layout-prime.xhtml">
    
    <ui:define name="content">
    	<h1 class="ui-widget-header">DSC Agent Status</h1>
    	<p>The table below includes all agents that have ever registered with this controller.
    	Agents listed as connected are responding to the controller's messaging system and ready
    	to handle requests.</p>
    	<p:dataTable id="agentListTable" value="#{agentList.list}" var="item">
    		<f:facet name="header">Agent List</f:facet>
    		<p:column>
    			<f:facet name="header">Agent Name</f:facet>
    			<h:outputText value="#{item.agent.agentName}" />
    		</p:column>
    		
    		<p:column>
    			<f:facet name="header">Agent Hash</f:facet>
    			<h:outputText value="#{item.agent.agentHash}" />
    		</p:column>
    		
    		<p:column>
    			<f:facet name="header">Connected</f:facet>
    			<h:graphicImage library="icon22" name="connected.png" rendered="#{item.registered}" styleClass="agentListIcon" />
    		</p:column>
    	</p:dataTable>
    </ui:define>
</ui:composition>